@model ConsoleAppProject.App02.BMICalculatorWeb;
@{
    ViewData["Title"] = "BmiCalculator";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="~/js/inputdecimal2.js"></script>
<div class="jumbotron">
    <h3 class="display-4 text-center">BMI Score Calculator
        <p class="Backpanel">By Marius Boncica</p>
    </h3>
    <hr class="my-4 text-center">
    <div class="d-flex justify-content-center">
        <p class="cta" style="margin:5px;color:white">
            <button class="btn btn-primary btn-lg" style="margin-top:10px;font-size:32px;min-width:150px;" onclick="javascript: $('#i').hide();javascript: $('#m').show();">Metric</button>
        </p>
        <p class="cta" style="margin:5px;color:white">
            <button class="btn btn-primary btn-lg" style="margin-top: 10px;font-size:32px;min-width:150px;" onclick="javascript: $('#m').hide();javascript: $('#i').show();">Imperial</button>
        </p>
    </div>
    <div id="i" style="display:none;">
        <form method="post">
            <div class="form-group">
                <h3 class="text-centre">Height</h3>
                <label for="Feet">Feet</label>
                <input type="number" class="form-control" asp-for="Feet" placeholder="Feet" required />
                <label for="Inch">Inch</label>
                <input type="number" class="form-control floatNumberField" step="0.01" asp-for="Inches" placeholder="Inches" required />
            </div>
            <div class="form-group">
                <h3 class="text-centre" style="margin-top:10px">Weight</h3>
                <label for="Pounds">Pounds</label>
                <input type="number" class="form-control floatNumberField" step="0.01" asp-for="Weight" placeholder="Pounds" required />
            </div>
            <div class="d-flex justify-content-center" style="margin-top:30px">
                <button asp-action="BMIResultI" type="submit" class="btn btn-primary btn-lg">Calculate</button>
            </div>

        </form>
    </div>
    <div id="m" style="display:block;">
        <form method="post">
            <div class="form-group">
                <h3 class="text-centre">Height</h3>
                <label for="Metres">Metres</label>
                <input type="number" class="form-control floatNumberField" step="0.01" asp-for="Height" placeholder="Metres" required />
            </div>
            <div class="form-group">
                <h3 class="text-centre" style="margin-top:10px">Weight</h3>
                <label for="Kilograms">Kilograms</label>
                <input type="number" class="form-control floatNumberField" step="0.01" asp-for="Weight" placeholder="Kilograms" required />
            </div>
            <div class="d-flex justify-content-center" style="margin-top:30px">
                <button asp-action="BMIResultM" type="submit" class="btn btn-primary btn-lg">Calculate</button>
            </div>
        </form>
    </div>
</div>

