@{
    ViewData["Title"] = " Marius Boncica Home Page";
}

<header class="tophead">
    <h1 class="display-4">CO 453 WEB APPLICATIONS</h1>
    <h1> by Marius Daniel Boncica</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</header>
<section>
    <div class="backpanel">
    <ol list="list-group">
        <li class="list-group-item">
            <a  class="btn" asp-controller="Home" asp-action="DistanceConverter">App01-Distance Converter</a>

        </li>
        <li class="list-group-item">
            <a class="btn" asp-controller="Home" asp-action="BMICalculator">App02-BMI Calculator</a>

        </li>
        <li class="list-group-item">
            <a class="btn" asp-controller="Home" asp-action="StudentMarks">App03-Student Grades</a>

            </li>
            <li class="list-group-item">
                <a class="btn" asp-controller="Home" asp-action="NetworkApp">App04-Network Application</a>

            </li>
    </ol>
    </div>
</section>
