
@{
    ViewData["Title"] = "Marius Boncica | Home";
}
<header class="tophead">
   
        <h1 class="display-4">CO453: Application Programming</h1>
    <h2>by Marius Boncica</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
   
</header>
<section>
    <div class="backpanel">
    <ol class="list-group">
        <li class="list-group-item">
            <a class="btn" asp-controller="Home" asp-action="DistanceConverter">App 01</a> Distance Converter
        </li>
        <li class="list-group-item">
            <a class="btn" asp-controller="Home" asp-action="BMICalculatorWeb">App 02</a> BMI Calculator
        </li>
        <li class="list-group-item">
            <a class="btn" asp-controller="Students" asp-action="Index">App 03</a> Student Marks
        </li>
        <li class="list-group-item">
            <a class="btn" asp-controller="Posts" asp-action="Index">App 04</a> Social Network
        </li>
                <li class="list-group-item">
            <a class="btn" asp-controller="RPS" asp-action="RPS">App 05</a> RPS Game
        </li>
    </ol>
    </div>
</section>
