
@{
    ViewData["Title"] = "MB WebApps | Social Network";
}
<!--  Author: Marius Boncica 
    Version 1.0
-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/site.css" />
<h1>Network Application</h1>

<p>
    <a asp-action="CreateNewPost" class="btn">Create New Post</a>
</p>

<div class="message-box">
    <div class="box-header-wrapper">
        <div class="d-flex justify-content-around box-wrapper-icons">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-trash box-icon">

                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <circle cx="10" cy="10" r="7"></circle>
            <line x1="7" y1="10" x2="13" y2="10"></line>
            <line x1="10" y1="7" x2="10" y2="13"></line>
            <line x1="21" y1="21" x2="15" y2="15"></line>
            </svg>
          
          <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-trash box-icon">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <line x1="4" y1="7" x2="20" y2="7"></line>
                <line x1="10" y1="11" x2="10" y2="17"></line>
                <line x1="14" y1="11" x2="14" y2="17"></line>
                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
            </svg>
          
        </div>
    </div>
    </div>
