
@{
    ViewData["Title"] = "MB WebApps | Student Marks";
}
<header class="text-center jumbotron justify-content-center">
    <h1 class="display-4">Student Marks</h1>
    <p>
        This App will allow you to enter marks for individual students, convert these marks to a grade, and show information such as statistics and charts.
    </p>
</header>