@{
    ViewData["Title"] = "Home Page";
}

<header>
    <h1 class="display-4">CO 454 WEB APPLICATIONS</h1>
    <h1> by Marius Daniel Boncica</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</header>
<section>
    <ol list="list-group">
        <li class="list-group-item">
            <a>Distance Converter</a>
        </li>
        <li class="list-group-item">
            <a>BMI Calculator</a>
        </li>
    </ol>
</section>